workflows/01-api-health-monitor.json
{
  "name": "API Health Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 30 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.url || 'https://httpbin.org/status/200' }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "http-check",
      "name": "Check API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "status-condition",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-status",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=🔴 API DOWN\n\nURL: {{ $('Check API').item.json.url }}\nStatus: {{ $json.statusCode }}\nTime: {{ $now.toISO() }}\n\nResponse time exceeded or unexpected status code.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-alert",
      "name": "Send Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-status",
              "name": "status",
              "value": "={{ $json.statusCode }}",
              "type": "number"
            },
            {
              "id": "log-url",
              "name": "url",
              "value": "={{ $('Check API').item.json.url }}",
              "type": "string"
            },
            {
              "id": "log-time",
              "name": "checked_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "log-healthy",
              "name": "healthy",
              "value": "true",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "log-healthy",
      "name": "Log OK",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [960, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.LOG_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ event: 'health_check', data: $json }) }}",
        "options": {}
      },
      "id": "log-webhook",
      "name": "Send to Logger",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 420]
    }
  ],
  "connections": {
    "Every 30 min": {
      "main": [
        [
          {
            "node": "Check API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Log OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log OK": {
      "main": [
        [
          {
            "node": "Send to Logger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "monitoring"
    },
    {
      "name": "telegram"
    }
  ]
}
