workflows/02-data-pipeline-csv.json
{
  "name": "Data Pipeline - CSV to Report",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csv-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "csv-upload-endpoint"
    },
    {
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "csv",
        "binaryPropertyName": "data",
        "options": {
          "delimiter": ","
        }
      },
      "id": "parse-csv",
      "name": "Parse CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Transform and clean data\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  // Skip empty rows\n  if (!row.nombre && !row.producto) continue;\n\n  // Normalize fields\n  const transformed = {\n    nombre: (row.nombre || row.name || '').trim().toUpperCase(),\n    email: (row.email || row.correo || '').trim().toLowerCase(),\n    producto: (row.producto || row.item || '').trim(),\n    cantidad: parseInt(row.cantidad || row.qty || 0),\n    precio: parseFloat(row.precio || row.price || 0),\n    fecha: row.fecha || new Date().toISOString().split('T')[0],\n    total: parseFloat((row.cantidad || row.qty || 0) * (row.precio || row.price || 0)).toFixed(2)\n  };\n\n  // Validate email format\n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  transformed.email_valid = emailRegex.test(transformed.email);\n\n  results.push({ json: transformed });\n}\n\nreturn results;"
      },
      "id": "transform-data",
      "name": "Transform Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "email-valid",
              "leftValue": "={{ $json.email_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "has-quantity",
              "leftValue": "={{ $json.cantidad }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-valid",
      "name": "Filter Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "nombre",
              "value": "={{ $json.nombre }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "producto",
              "value": "={{ $json.producto }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "cantidad",
              "value": "={{ $json.cantidad }}",
              "type": "number"
            },
            {
              "id": "a5",
              "name": "precio_unitario",
              "value": "={{ $json.precio }}",
              "type": "number"
            },
            {
              "id": "a6",
              "name": "total",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "a7",
              "name": "fecha",
              "value": "={{ $json.fecha }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "clean-fields",
      "name": "Clean Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1180, 300]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {}
      },
      "id": "generate-csv",
      "name": "Generate Report",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [1420, 300]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseBinaryPropertyName": "data",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=report.csv"
              }
            ]
          }
        }
      },
      "id": "respond-webhook",
      "name": "Return File",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `📊 CSV Pipeline completado\\n✅ ${$('Filter Valid').all().length} registros validos procesados\\n📥 ${$('Transform Data').all().length} registros recibidos en total` }) }}",
        "options": {}
      },
      "id": "notify-slack",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1660, 500]
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV": {
      "main": [
        [
          {
            "node": "Transform Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Data": {
      "main": [
        [
          {
            "node": "Filter Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid": {
      "main": [
        [
          {
            "node": "Clean Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Fields": {
      "main": [
        [
          {
            "node": "Generate Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report": {
      "main": [
        [
          {
            "node": "Return File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "pipeline"
    },
    {
      "name": "csv"
    }
  ]
}
