workflows/03-notification-router.json
{
  "name": "Multi-Channel Notification Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Input",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 400],
      "webhookId": "notification-router"
    },
    {
      "parameters": {
        "jsCode": "// Validate incoming event schema\nconst event = $input.first().json;\nconst errors = [];\n\nif (!event.type) errors.push('Missing required field: type');\nif (!event.message) errors.push('Missing required field: message');\nif (!event.priority) errors.push('Missing required field: priority');\n\nconst validTypes = ['alert', 'info', 'report'];\nif (event.type && !validTypes.includes(event.type)) {\n  errors.push(`Invalid type: ${event.type}. Must be: ${validTypes.join(', ')}`);\n}\n\nconst validPriorities = ['low', 'medium', 'high', 'critical'];\nif (event.priority && !validPriorities.includes(event.priority)) {\n  errors.push(`Invalid priority: ${event.priority}. Must be: ${validPriorities.join(', ')}`);\n}\n\nif (errors.length > 0) {\n  return [{ json: { success: false, errors: errors, received: event } }];\n}\n\nreturn [{\n  json: {\n    ...event,\n    timestamp: new Date().toISOString(),\n    id: Math.random().toString(36).substring(2, 10)\n  }\n}];"
      },
      "id": "validate-input",
      "name": "Validate Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": [
          {
            "value2": "alert",
            "outputKey": "Alert"
          },
          {
            "value2": "report",
            "outputKey": "Report"
          }
        ],
        "fallbackOutput": 1
      },
      "id": "route-type",
      "name": "Route by Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚨 ALERT: {{ $json.priority.toUpperCase() }}\n\n{{ $json.message }}\n\nSource: {{ $json.source || 'unknown' }}\nID: {{ $json.id }}\nTime: {{ $json.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-telegram",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [960, 200],
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIALS_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: `📊 Report: ${$json.message}`, blocks: [{ type: 'section', text: { type: 'mrkdwn', text: `*Report Generated*\\n> ${$json.message}\\n> Source: ${$json.source || 'system'}\\n> ID: \\`${$json.id}\\`` } }] }) }}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Slack Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build final response\nconst input = $input.first().json;\nconst type = input.type || 'unknown';\nconst channel = type === 'alert' ? 'telegram' : 'slack';\n\nreturn [{\n  json: {\n    success: true,\n    event_id: input.id || 'unknown',\n    type: type,\n    channel: channel,\n    delivered_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "build-response",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    }
  ],
  "connections": {
    "Webhook Input": {
      "main": [
        [
          {
            "node": "Validate Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Schema": {
      "main": [
        [
          {
            "node": "Route by Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Type": {
      "main": [
        [
          {
            "node": "Telegram Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Alert": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Report": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "notifications"
    },
    {
      "name": "routing"
    }
  ]
}
